body{
    background-image: url('https://www.reactiongifs.com/r/2012/06/homer_lurking.gif');
    background-repeat: round;
}
.headerToDo{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

label{
    color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.container>div{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    margin-left: 5px;
    padding-top: 5px;
    border-color:darkseagreen;
    background-color: azure;
}
.container>div:nth-last-child(1){
    
}

span{
    padding-left: 10px;
    padding-right: 10px;
}
.container_Radio{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Container_Btn{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btnRemove{
    margin-left: 10px;
    margin-right: 10px;
}

.btninserir{
    margin-left: 10px;
    margin-right: 10px;
}